//-----------------------
//  样式重置
//-----------------------
html,body,div,strong,b,span,i,p,h1,h2,h3,h4,h5,h6,em,ol,ul,li,dl,dt,dd,article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
            margin: 0;
            padding: 0;
            outline: 0;
            font-style: normal;
            font-size:100%;
            box-sizing:border-box;
            -webkit-text-size-adjust: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html,body{
    width: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
    font-family: "Microsoft Yahei","Arial";
    color: #333333;
}
a:hover{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
.float-r {
  float: right;
}
.float-l {
  float: left;
}
.mr-lg {
  margin-right: 20px !important;
}
.mr-md {
  margin-right: 10px !important;
}
.mr-sm {
  margin-right: 5px !important;
}
.ml-lg {
  margin-left: 20px !important;
}
.ml-md {
  margin-left: 10px !important;
}
.ml-sm {
  margin-left: 5px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
